# Moodle CodeRunner / Jobe.
JOBE_HOST=jobe1;jobe2

# local_testcase_exchange external database.
TESTCASE_DB_HOST=mariadb
TESTCASE_DB_PORT=3306
TESTCASE_DB_NAME=testcase_store
TESTCASE_DB_USER=moodle_app_writer
TESTCASE_DB_PASSWORD=JobeSecret123!

# One or more Jobe hosts separated by semicolons.
TESTCASE_JOBE_SERVERS=jobe1;jobe2
TESTCASE_JOBE_API_KEY=
